<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./assets/vue-logo.png" type="image/x-icon">
  <link rel="stylesheet" href="style.css">
  <script defer src="app.js"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <title>Vue Boots Market</title>
</head>
<body>
  <div id="app">

    <h2>Klicka på skorna du gillar mest för att lägga till i favoriter!</h2>

    <div v-if="showBoots">
      <ul>
        <li v-for="boot in boots" :class="{ fav: boot.isFav }" @click="toggleFavs(boot)">
          <img :src="boot.img" :alt="boot.title">
          <div class="info">
            <h3>{{ boot.title }}</h3>
            <p>{{ boot.brand }}</p>
            <p>{{ boot.price }} kr</p>
            <span v-if="boot.isFav">👍</span>
          </div>
        </li>
      </ul>
    </div>

    <button @click="toggleShowBoots">
      <span v-if="showBoots">Hide Boots</span>
      <span v-else>Show Boots</span>
    </button>

  </div>
</body>
</html>